cffi==1.9.1
coverage==4.3.1
future==0.16.0
msgpack-python==0.4.8
numpy==1.11.2
Paver==1.2.4
petlib==0.0.40
py==1.4.32
pycparser==2.17
pytest==3.0.5
pytest-cov==2.4.0
requests==2.12.4
sphinxmix==0.0.6
